/* Zodiak Thin */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Zodiak Light */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Zodiak Regular */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Zodiak Medium */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Zodiak SemiBold */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Zodiak Bold */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Zodiak Black */
@font-face {
  font-family: 'Zodiak';
  src: url('./Zodiak-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}